* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FF7978;
    background-image: url(/form/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 530px;
    color: white;
    font-family: 'Lexend Deca', sans-serif;
}

.heading {
    padding-bottom: 40px;
    font-weight: 700;
    font-size: 44px;
}

.pay-ad {
    border: 1px solid #5D54A3;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #5D54A3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 9px 0 rgba(37, 37, 37, 0.5);
    margin-bottom: 35px;
}

.pay-text {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
}

.data {
    background-color: #fff;
    box-shadow: 0 5px 9px 0 rgba(54, 54, 54, 0.5);
}

.data input {
    border: 1px solid #CDCCD1;
    margin: 10px;
}

.data, .data input, .button {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.button {
    background-color: #38CC8A;
    text-align: center;
    border: 1px solid #CDCCD1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.terms {
    margin-top: 5px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 8px;
    text-align: center;
    font-weight: 100;
}

span {
    color: red;
    font-size: 10px;
    font-weight: bold;
}

@media screen and (max-width: 375px) {
    .container {
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 100vw;
        flex-direction: column;
    }

    .intro {
        width: 300px;
        margin-bottom: 40px;
        justify-self: center;
        text-align: center;
    }

    .heading {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .pay-ad {
        text-align: center;
    }

    .pay-text {
        width: 200px;
        text-align: center;
    }
    .form {
        width: 300px;
        justify-content: center;
    }

    .terms {
        width: 160px;
        align-self: center;
    }


}